<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Akka" version="1.2.0" targetFramework="net452" />
  <package id="Akka.Logger.Serilog" version="1.2.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Serilog" version="2.4.0" targetFramework="net452" />
  <package id="Serilog.Settings.AppSettings" version="2.1.0" targetFramework="net452" />
  <package id="Serilog.Sinks.ColoredConsole" version="2.0.0" targetFramework="net452" />
  <package id="System.Collections.Immutable" version="1.3.1" targetFramework="net452" />
</packages>